%h2 Who am I?
%p
  I'm a Ruby on Rails freelance developer from #{link_to "Barcelona", "http://maps.google.com/maps?q=Barcelona"} (Spain) with more than 3 years experience in that technology.
%p
  I've created lots of different kind of projects from fresh. Online newspapers including their CMS, only-webservices applications, web-browser games, company web profiles, etc.
%h2.sep Some of my projects

%h3= link_to "O-Trader", "http://www.o-trader.com", :title => "O-Trader"
%p
  Web-browser game based on trading between users. Users have to manage their factories to generate the necessary stock. They can trade among themselves or sell their products to the population whenever there is sufficient demand.
%p
  It's the first project that I did by myself and it's still in development. I hope that soon will be open.

%h3= link_to "Ubiquo", "http://www.ubiquo.me", :title => "Ubiquo"
%p
  It's an open source CMS done in Rails. It's mainly for developers because is focused on the code generation. It provides a lot of useful tools to make the development easier and do more work in less time.
%p
  I was one of the main developers at the begining while I was working in #{link_to "Gnuine", "http://www.gnuine.com", :title => "Gnuine"}. Now it's maintained by some of my colleages.

%h2.sep How I work
%p
  I always use #{link_to "Ubuntu", "http://www.ubuntu.com"}. To edit the source code I use #{link_to "Emacs", "http://www.gnu.org/software/emacs"}, it's my prefered code editor. As the main web browser I use #{link_to "Google Chrome", "http://www.google.com/chrome"}. When I'm developing a webservice I use #{link_to "curl", "http://curl.haxx.se/"} in the command line. I use a lot the command line in #{link_to "Gnome terminal", "http://en.wikipedia.org/wiki/GNOME_Terminal"} for a lot of purposes such as run tests, run rake tasks, manage the code repository, etc.

%h2.sep Contact me

%p
  Feel free to send me an e-mail with any question to #{link_to "albert@acroca.com", "mailto:albert@acroca.com", :title => "albert@acroca.com"}.
%p
  %a{:href => "http://twitter.com/shark234"}
    %img{:src => "/images/twitter_small.png", :alt => "Twitter", :title => "Twitter"}
  %a{:href => "http://es.linkedin.com/in/shark234"}
    %img{:src => "/images/linkedin_small.png", :alt => "LinkedIn", :title => "LinkedIn"}
  %a{:href => "http://github.com/Xarc"}
    %img{:src => "/images/github_small.png", :alt => "Github", :title => "Github"}