%h2 Who am I?
%p
  I'm a spanish Ruby on Rails developer. I was born in #{link_to "Barcelona", "http://maps.google.com/maps?q=Barcelona"} but nowadays I'm living at #{link_to "Singapore", "http://maps.google.com/maps?q=Singapore"}. I have more than 3 years experience in that technology.
%p
  I've created lots of different kind of projects from fresh. Online newspapers including their CMS, only-webservices applications, web-browser games, company web profiles, etc.
%p
  My resume is available here:
  = link_to "http://docs.google.com/View?id=dch3w3nv_7745fpbnd3", "http://docs.google.com/View?id=dch3w3nv_7745fpbnd3"

%h2.sep Some of my projects

%h3= link_to "Socifier", "http://socifier.com", :title => "Socifier"
%p
  A web-app with a simple idea, get notified when something happens. It works as a social network and the users have to manage the items to notify and when the notifications has to be sent.

%h3= link_to "Game of Life - Online", "http://github.com/Xarc/gameoflife_online", :title => "Game of Life - Online"
%p
  A version of the Conway's Game of Life but with multiplayer features. Each player can create new cells and when a new cell appears, has the name of all the owners.
%p
  I did this project just to learn how to use Node.js, MongoDB and Websockets

%h3 O-Trader
%p
  Web-browser game based on trading between users. Users have to manage their factories to generate the necessary stock. They can trade among themselves or sell their products to the population whenever there is sufficient demand.
%p
  It's the first project that I did by myself and it's still in development. I hope that soon will be open.

%h3= link_to "Ubiquo", "http://www.ubiquo.me", :title => "Ubiquo"
%p
  It's an open source CMS done in Rails. It's mainly for developers because is focused on the code generation. It provides a lot of useful tools to make the development easier and do more work in less time.
%p
  I was one of the main developers at the begining while I was working in #{link_to "Gnuine", "http://www.gnuine.com", :title => "Gnuine"}. Now it's maintained by some of my colleages.

%h2.sep How I work
%p
  I always use #{link_to "Ubuntu", "http://www.ubuntu.com"}. To edit the source code I use #{link_to "Emacs", "http://www.gnu.org/software/emacs"}, it's my prefered code editor. As the main web browser I use #{link_to "Google Chrome", "http://www.google.com/chrome"}. When I'm developing a webservice I use #{link_to "curl", "http://curl.haxx.se/"} in the command line. I use a lot the command line in #{link_to "Gnome terminal", "http://en.wikipedia.org/wiki/GNOME_Terminal"} for a lot of purposes such as run tests, run rake tasks, manage the code repository, etc.

%h2.sep Contact me

%p
  Feel free to send me an e-mail with any question to #{link_to "albert@acroca.com", "mailto:albert@acroca.com", :title => "albert@acroca.com"}.
%p.networks
  %a{:href => "http://twitter.com/shark234"}
    %img{:src => "/icons/twitter.png", :alt => "Twitter", :title => "Twitter"}
  %a{:href => "http://es.linkedin.com/in/shark234"}
    %img{:src => "/icons/linkedin.png", :alt => "LinkedIn", :title => "LinkedIn"}
  %a{:href => "http://github.com/acroca"}
    %img{:src => "/icons/github.png", :alt => "Github", :title => "Github"}